@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:wght@700&family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
nav{
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
padding: 0 15px;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin-bottom:40px;
}

#nav-logo{
  font-size: 25px;
  color: var(--primary-b-400, #6070FF);
  cursor: pointer;
}

ul{
  display: flex;
  flex-wrap: wrap;
}

li{
  list-style: none;
}

nav li{
  padding: 10px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--neutrals-n-600, #6070FF);
  cursor: pointer;
}

nav li:hover{
  color: var(--neutrals-n-600, #3045ff);
}

#hero{
 width: 100%;
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 height: 80vh;
}

.shape{
  position: absolute;
  z-index: 3;
}

#hero #shape1{
width: 60px;
height: 60px;
z-index: 4;
top: 50px;
right: 70px;
}

#hero #shape2{
  
left: 40px;
top:55px;
z-index: 4;
}

#hero #shape3{
bottom: 50px;
right: 35%;
height: 50px;
width: 50px;
}

#hero #shape4{
top: 50px;
width: 60px;
height: 20px;
}

#hero #shape5{
  height: 70px;
  width: 100px;
  top: 0;
  right: 80px;
}

#hero #shape6{
  width: 120px;
  height: 70px;
  bottom: 20px;
  right: 36%;
}

#hero #shape7{
  left: -3px;
  top: 0;
}

#hero #shape8{
  left: 135px;
  bottom: 20px;
  
}

#hero #shape9{
  left: 150px;
  bottom: 58px;
 
}

#hero-content{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 60%;
font-family: 'Poppins', sans-serif;
gap: 12px;
align-items: center;
justify-content: left;

}

#hero-content h1{
  width: 100%;
  font-size: 48px;
  font-weight: 700;
}

#hero-desc{
  font-size: 20px;
}

#connect{
  width: 100%;
  color: var(--primary-b-300, #7F8CFF);
  font-weight: 600;
  font-size: 16px;
}

#hero-content ul{
  width: 100%;
  display: flex;
  flex-direction: row;
}

#hero li{
list-style: none;
padding: 4px;
}

.hero-logo{
  font-size: 28px;
}

#project-heading{
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  width: 500px;
  margin: 80px auto 40px auto;
  text-align: center;
}

.project-div{
  display: flex;
padding: 15px;
font-family: 'Poppins', sans-serif;
width: 80%;
margin: 40px auto;
gap: 20px;
align-items: center;
justify-content: center;

}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
 
}

.project-logo{
  font-size: 130px;
}

.right{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 24px;
  width: 50%;
  padding: 15px;
  
}

.project-title{
  color: var(--theme-1-neutrals-1, #091E42);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 52px;
}

.project-type{
  color: var(--theme-1-neutrals-3, #344563);
font-size: 20px;
font-style: normal;
font-weight: 600;
}

.project-desc{
  color: var(--neutrals-n-600, #344563);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.project-tag{
color: var(--primary-b-400, #6070FF);
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
font-style: normal;
font-weight: 500;
border-radius: 8px;
padding: 4px 8px;
margin: 3px 5px;
background: var(--primary-b-50, #EBEBFF);
}

.see-project{
  margin-top: 30px;
}

.btn-text a{
  color: var(--primary-b-500, #396DF2);
  padding: 8px;
border-radius: 8px;
border: 1px solid var(--primary-b-400, #6070FF);
}

.btn-text a:hover {
background-color: var(--primary-b-400, #6474ff);
color: white;
}

@media (min-width: 368px) and (max-width: 768px){
 

  .project-div{
    flex-direction: column;
    border: 0.5px solid #4f60f6;
    border-radius: 2%;
    padding: 25px;
  }

  .right{
    width: 100%;
    align-items: center;
    text-align: center;
  }

  #project-heading{
    font-size: 3.2rem;
    width: 368px;
  }

  .project-title{
    text-align: center;
  }

  .shape{
    display: none;
  }
}